<ion-header>
    <ion-toolbar color="primary">
      <ion-button (click)="logout()"><ion-icon name="log-out"></ion-icon></ion-button>
      <ion-title>Admin</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/adduser">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card>
    <ion-card-content (click)="presentActionSheet()">
      <p>Username:</p>
      <p>hak akses:</p>
    </ion-card-content>
  </ion-card>
</ion-content>
