<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      SiKoLamp Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" (click)="loginpage()"><ion-ripple-effect></ion-ripple-effect> Login</ion-button>
</ion-content>
